<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for('dashboard') }}">PhishIntel Analyzer</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      {% if current_user.is_authenticated %}
        <span class="text-light me-3">{{ current_user.username }}</span>
        <a class="nav-link d-inline" href="{{ url_for('logout') }}">Sign out</a>
      {% else %}
        <a class="nav-link d-inline" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </li>
  </ul>
</nav>
